* {
  box-sizing: border-box;
}

body {
  background-color: lightslategray;
  font-family: monospace, Helvetica, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: clamp(1rem, 4vw, 2rem);
}

.titulo_productos {
  text-align: center;
}

.titulo_box_model {}

.contenedor {
  border: 1px solid green;
  background-color: black;
  height: 200px;
  width: 200px;
  padding: 1px;
  margin: 2px;
}

.item {
  border: 3px solid rgb(61, 69, 177);
  background-color: rgba(121, 12, 88, 0.733);
  font-size: 72px;
  overflow: auto;
}

.contenedor_flex {
  border: 1px solid rgb(75, 4, 57);
  background-color: rgba(107, 10, 70, 0.925);
  padding: 1%;
  margin: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5px;
  padding: 5px;
}

.item_flex {
  border: 1px solid rgb(116, 8, 98);
  background-color: rgb(31, 167, 230);
  overflow: auto;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
}

a {
  color: aliceblue;
  text-decoration: none;
}

a:visited {
  color: beige;
}

button {
  background-color: rgb(68, 40, 190);
  border-radius: 4px;
  margin: auto;
  font-size: clamp(1rem, 4vw, 2rem);
}

.contenedor_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2%;
  background-color: rgb(167, 12, 89);
  padding: 1%;
}

.item_grid {
  background-color: rgb(127, 201, 226);
  border-radius: 4px;
  text-align: center;
  font-size: 3vw;
}